<h1 class="display-4 m-4 text-dribble">SDVX Table Tool</h1>

<div class="media comment m-4">
  <div class="media-body">
    <div class="media-body-header">
      <h5 class="comment-author text-dribble">Last Update</h5>
      <span class="comment-date">2020/8/24</span>
    </div>
    SDVX の Lv.18～Lv.20 のデータを取り入れています。
  </div>
</div>

<div class="media comment m-4">
  <div class="media-body">
    <div class="media-body-header">
      <h5 class="comment-author text-dribble">このツールについて</h5>
    </div>
    SDVX のスコアやクリア状況などを管理するツールです。SNS でライバルや友人にシェアすることもできます。
  </div>
</div>

<div class="media comment m-4">
  <div class="media-body">
    <div class="media-body-header">
      <h5 class="comment-author text-dribble">使い方</h5>
    </div>
    <p>ID と パスワードを登録、もしくは twitter 経由でログインできます。</p>
    <p>ログイン後、レベルごとに分かれた曲の一覧に基準に応じてチェックを入れて、最後画像を生成します。</p>
  </div>
</div>

